.flex-container{
    display: flex;
    flex-direction: row;
    height: 150px;
    border: 2px solid black;
    max-width: 310px;
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}

.item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
}

.nowrap{
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.palevioletred{
    background-color: palevioletred;
}
.pink{
    background-color: pink;
}
.plum{
    background-color: plum;
}

