.container{
    max-width: 400px;
    border: 1px solid black;
    margin: 0;
    display: flex;
    margin-bottom: 15px;

}
.item{
    background-color: plum;
    margin: 5px;
    text-align: center;
    color: purple;
}

.flex-start{
    justify-content: flex-start;
}
.flex-center{
    justify-content: center;
}
.flex-end{
    justify-content: flex-end;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.column{
    flex-direction: column;
    min-height: 200px;
}
.column-reverse{
    flex-direction: column-reverse;
    min-height: 200px;
}